datasets
logs
__pycache__
.pytest_cache
dock.sh
Dockerfile
frames/
dock_config.json
.mypy_cache
.DS_Store
wm_codebase/*
exp_dir/vae/best.tar
exp_dir/vae/checkpoint.tar
exp_dir/mdrnn/best.tar
exp_dir/mdrnn/checkpoint.tar
exp_dir/joint/*
!exp_dir/joint/logger.txt
!exp_dir/joint/ctrl_logger.txt
!exp_dir/joint/samples/
